<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- sidebar -->
<div class=" d-flex vw-100">
  <section class="menu w-23 pt-10 pb-8  bg-light  d-flex flex-column ">
    <img class="d-block ms-8 logo" src="./assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
    <ul class="mt-10 list-unstyled">
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">assessment</span>DashBoard</a></li>
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">question_answer</span>Question</a></li>
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">assignment</span>Assignment</a></li>
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">video_library</span>Course</a></li>
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">person</span>Admin</a></li>
      <li class="mb-7"><a href="#" class="fw-bold ps-8"><span class="material-icons align-middle me-4">settings</span>settings</a></li>
    </ul>
      <a href="#" class="ps-8 mt-auto d-block d-flex align-items-start">
        <img class="object-cover w-40px h-40px rounded-circle" src="./assets/images/andychen.jpeg" alt="">
        <ul class="ms-4 list-unstyled">
          <li class="fw-bold mb-1">Andy Chen</li>
          <li ><small class="text-secondary">andy0401@mail.com</small></li>
        </ul>
      </a>

  </section>  
  <section class="w-77 p-8  ">
  
    <%- contents %>
  
  </section>

</div>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
