// *{
//   // outline: 1px solid black;
// }

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  // max-height: 100vh;
}

.logo {
  height: 40px;
  width: 151px;
}

.menu a:active {
  border-left: 4px solid $primary;
}
